.container {
    margin: 0%;
}

.nav-class {
    background-color: #de9e36ff;
    overflow: hidden;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.nav-class a {
    float: left;
    display: block;
    color: #f4ededff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-size: 200% 200%;
    background-image: linear-gradient(to top, #f4ededff 50%, transparent 50%);
    -webkit-transition: background-position 75ms, color 75ms ease, border-color 75ms ease;
    -moz-transition: background-position 75ms, color 75ms ease, border-color 75ms ease;
    -ms-transition: background-position 75ms, color 75ms ease, border-color 75ms ease;
    -o-transition: background-position 75ms, color 75ms ease, border-color 75ms ease;
    transition: background-position 75ms, color 75ms ease, border-color 75ms ease;
}

.nav-class a:hover {
    color: #2e282aff;
    background-image: linear-gradient(to top, #f4ededff 51%, transparent 50%);
    background-position: 0 100%;
    -webkit-transition: background-position 75ms, color 75ms ease, border-color 75ms ease;
    -moz-transition: background-position 75ms, color 75ms ease, border-color 75ms ease;
    -ms-transition: background-position 75ms, color 75ms ease, border-color 75ms ease;
    -o-transition: background-position 75ms, color 75ms ease, border-color 75ms ease;
    transition: background-position 75ms, color 75ms ease, border-color 75ms ease;
}

.nav-class a.active {
    background-color: #f4ededff;
    color: #2e282aff;
}

.nav-class a.login {
    float: right;
    display: block;
}

.nav-class a.icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .nav-class a:not(:first-child) {
        display: none;
    }
    .nav-class a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .nav-class.responsive {
        position: relative;
    }
    .nav-class.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        color: #2e282aff;
    }
    .nav-class.responsive a {
        float: none;
        display: block;
        text-align: left;
        box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%);
    }
}