<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
    <div class="nav-class" id="nav">
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/posts" routerLinkActive="active">Posts</a>
        <a routerLink="/about" routerLinkActive="active">About</a>
        <a class="login">Login</a>
        <a href="javascript:void(0);" class="icon" (click)="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</div>