/* You can add global styles to this file, and also import other style files */


/* CSS HEX */


/*
--dark-sea-green: #79b791ff; Confirm
--raisin-black: #2e282aff; Secondary
--isabelline: #f4ededff; Background
--marigold: #de9e36ff; Primary
--fire-opal: #e15551ff; Cancel
--gainsboro: #E7DADA; Modal
*/

body,
html {
    margin: 0;
    background-color: #f4ededff;
    font-family: 'Noto Sans JP', serif;
}

.container {
    margin: 0%;
}