/* You can add global styles to this file, and also import other style files */

body,
html {
    margin: 0;
    background-color: #ffffff;
    font-family: 'Noto Sans JP', serif;
    height: max-content;
    display: flex;
    flex-direction: column;
    --main: #EEB244;
    --secondary: #005248;
    --light: #C3FCF2;
    --dark: #4B8178;
    --cancel: #C1554E;
    --confirm: #008F5D;
    --extra: #8362D5;
}

.container {
    margin: 0%;
}